*{
    margin: 0;
    padding: 0;
}

body{
    background:linear-gradient( to top, yellow,rgb(238, 238, 151),white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border: 5px black solid;
    text-align: center;
    background:linear-gradient( to bottom, yellow,rgb(238, 238, 151),white);
    border-radius: 5px;
    width: 600px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 
.middle{
    margin: 20px;
    font-size: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.big{
    border-bottom: 1px solid black;
    letter-spacing: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}



.btn{
    padding: 10px;
    border-radius: 3px;
    border: 1px solid rgb(146, 142, 142);
}

.btn:hover{
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
}