*{
    margin: 0;
    padding: 0;
}
body{
    background :linear-gradient(to bottom,rgb(112, 112, 112),white);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    border: 1px black solid;
    width: 70%;
    height: 70%;
}

.btn{
    padding: 20px;
    border: none;
    background-color:transparent;
}

.btn:hover{
    background-color: gray;
    transition: 1s;
    border-radius: 5px;
}

.img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
   
}